* {
  background-color: black;
  background-size: cover;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  display: flex;
}

.logo {
  display: flex;
  justify-content: space-between;
  padding: 3px 10px;
  margin: 20px 100px ;
}

img {
  border-radius: 26px;
}

.lojas {
  padding: 100px 100px 1px;
  display: flex;
  gap: 40px;
}

.ljs {
  padding: 100px 100px 1px;
  display: flex;
  gap: 40px;
}

footer {
  color: azure;
  display: flex;
  justify-content: space-evenly;
  padding: 100px 40px 40px;
}


h2 {
  color: white;
  text-align: center;
  margin-top: 50px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: white;
  padding: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

form input {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
}

form button {
  padding: 10px;
  font-size: 1.2rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

.form-container1 {
  background-color: rgb(0, 0, 0);
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
}

form label {
  display: block;
  margin-top: 10px;
}
form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
}
button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.config-container {
  max-width: 900px;
  margin: auto;
  background: rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.tabs {
  display: flex;
  border-bottom: 2px solid #ddd;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  background: #000000;
  transition: background 0.3s;
  color: white;
}

.tab:hover {
  background: #413e3e;
}

.tab.active {
  background: #000000;
  font-weight: bold;
  border-bottom: 2px solid #4c00ff;
}

.tab-content {
  display: none;
  padding: 20px;
  color: white;
}

.tab-content.active {
  display: block;
  color: white;
}

input {
  color: white;
}

select {
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.lojas,
.ljs {
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 600px) {
  header .logo {
    flex-direction: column;
    align-items: center;
  }

}
